---
layout: default
title: Opening Science
doi: 10.1007/978-3-319-00026-8
modified_date: 2 March 2014
---
{% for category in site.categories %}
  <div class="toc">
    <h2>{{ category | first | titleize }}</h2>
    {% assign number = category.last.last.date | date: "%d" %}
    <ol start="{{ number }}">
    {% for post in category.last reversed %}
      {% if category.first == "preface" %}
        <li class="nostyle">
      {% else %}
        <li>
      {% endif %}
          <div class="toc-item">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {% if post.authors %}
              <p>{% for author in post.authors %}
              {{ author.name }}{% if forloop.rindex > 2 %}, {% elsif forloop.rindex > 1 %} & {% endif %}{% endfor %}</p>
            {% endif %}
            {% if post.abstract %}
              {{ post.abstract | markdownify }}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endfor %}
