  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />{% if page.authors %}{% for author in page.authors %}
    <meta name="author" content="{{ author.name }}" />{% endfor %}{% else %}{% for editor in site.editors %}
    <meta name="author" content="{{ editor.name }}" />{% endfor %}{% endif %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}" />

    <!-- RDFa Metadata (in DublinCore) -->
    <meta property="dc:title" content="{{ page.title }}" />{% if page.authors %}{% for author in page.authors %}
    <meta property="dc:creator" content="{{ author.name }}" />{% endfor %}{% else %}{% for editor in site.editors %}
    <meta property="dc:creator" content="{{ editor.name }}" />{% endfor %}{% endif %}
    <meta property="dc:format" content="text/html" />
    <meta property="dc:language" content="en" />
    <meta property="dc:identifier" content="{{ page.url }}" />
    <meta property="dc:rights" content="CC-BY-NC" />
    <meta property="dc:source" content="{{ site.title }}" />
    <meta property="dc:subject" content="Scholarly Communication" />
    <meta property="dc:type" content="website" />

    <!-- Google Scholar Metadata -->{% if page.authors %}{% for author in page.authors %}
    <meta name="citation_author" content="{{ author.name }}"/>{% endfor %}{% else %}{% for editor in site.editors %}
    <meta name="citation_author" content="{{ editor.name }}"/>{% endfor %}{% endif %}
    <meta name="citation_title" content="{{ page.title }}"/>
    <meta name="citation_journal_title" content="{{ site.title }}"/>

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml" />

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->
    {% stylesheet app %}
    {% stylesheet jasny-bootstrap.min.css %}
    {% stylesheet navmenu-push.css %}

    <!-- d3.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.min.js"></script>

    <!-- Adobe Web Fonts -->
    <script src="//use.edgefonts.net/rosario.js"></script>
  </head>
