<nav id="navmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
  <a class="navmenu-brand" href="#">Opening Science - The Book</a>
  <ul class="nav navmenu-nav">
  {% if page.categories %}
    <li><span class="glyphicon glyphicon-folder-open"></span> {{ page.categories.first | titleize }}</li>
  {% endif %}
  {% if page.modified_date %}
    <li><span class="glyphicon glyphicon-calendar"></span> {{ page.modified_date }}</li>
  {% endif %}
  {% if page.doi %}
    <li><span class="glyphicon glyphicon-link"></span> <a href="https://doi.org/{{ page.doi }}">doi: {{ page.doi }}</a></li>
  {% endif %}
    <li><span class="glyphicon glyphicon-time"></span> <a href="{{ site.source_url }}/commits/master/{{ page.path }}">Version History</a></li>
    <li><span class="glyphicon glyphicon-edit"></span> <a href="http://prose.io/#openingscience/book/edit/master/{{page.path}}">Send Edit Request</a></li>
    {% if page.tags and page.tags != empty %}
    <li><span class="glyphicon glyphicon-tags"></span> Tags
      <ul class="tag-list">
        {% assign tags_list = page.tags %}
        {% include tags_list %}
      </ul>
    </li>
    {% endif %}
    <li><span class="glyphicon glyphicon-home"></span> <a href="/">Home</a></li>
    <li><span class="glyphicon glyphicon-info-sign"></span> <a href="/about.html">About</a></li>
    <li><span class="glyphicon glyphicon-tags"></span> <a href="/tags.html">All Tags</a></li>
    <li><a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en" class="logo"><img src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png"></a></li>
  </ul>
</nav>