<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{ page.title }}</h1>{% if page.title == "Opening Science" %}
        {% if site.editors %}<p>The Evolving Guide on How the Web is Changing Research, Collaboration and Scholarly Publishing. Edited by {% for editor in site.editors %}
{% if editor.orcid %}<a href="http://orcid.org/{{editor.orcid}}">{{ editor.name }}</a>{% else %}{{ editor.name }}{% endif %}{% if forloop.rindex > 2 %}, {% elsif forloop.rindex > 1 %} & {% endif %}{% endfor %}.</p>{% endif %}{% else %}
        {% if page.authors %}<p>{% for author in page.authors %}{{ author.name }}{% if forloop.rindex > 2 %}, {% elsif forloop.rindex > 1 %} & {% endif %}{% endfor %}</p>{% endif %}{% endif %}
      </div>

      <div class="content">
        <div class="row-fluid">
          <div class="span8">
            {{ content | to_scholmd }}

            <div class="license">
              <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en" class="pull-right"><img src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png"></a>
            </div>

            {% include comments.html %}
          </div>

          <div class="offset1 span3 aside visible-desktop">
            <div class="sidebar-nav-fixed">
              {% include navigation.html %}
            </div>
          </div>
        </div>

        {% include coins.html %}
        {% include analytics.html %}
      </div>
    </div>
  </body>
</html>
